@import "tailwindcss";

/* Design tokens */
:root{
  --font-redhat: "Red Hat Display", sans-serif;
  --text-body: 20px;
  --text-subtitle: 25px;
  --text-title: 40px;
  --bg:#FFEEE8;
  --fg:#145172;
  --tg:#000000;
  --accent:#FEB202;
  --muted:#FE3902;
}

html,body{ background:var(--bg); color:var(--fg); }
:focus-visible{ outline:2px solid var(--accent); outline-offset:2px; }


body {
  font-family: var(--font-redhat);
  font-size: var(--text-body);
  line-height: 1.6;
}
